* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  /* color: #43464b; */
  color: #000;
  font-size: 1rem;
}

a {
  color: #ff5200;
}

.container {
  max-width: 1100px;
  padding: 0 2rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }
}

.about-container,
.blog-container,
.services-container {
  max-width: 1385px;
  padding: 0 1.2rem;
  margin: 0 auto;
}

.video-container {
  max-width: 95%;
  margin: 0 auto;
}

.local-container {
  max-width: 700px;
  padding: 0 1.2rem;
  margin: 0 auto;
}

.sub-text {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .sub-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.body-img {
  width: 30rem;
  margin: 3rem auto;
}

@media screen and (min-width: 768px) {
  .body-img {
    height: 30rem;
  }
}

ul,
ol {
  margin-top: 1rem;
  margin-left: 2rem;
}

.btn {
  display: block;
  text-align: center;
  margin: 2rem 0;
}

.faq {
  margin: 5rem 0;
}

h1,
h2 {
  text-align: center;
  letter-spacing: 1.2px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
}

h2 {
  font-size: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 50px;
    max-width: 900px;
  }
}

.intro {
  text-align: center;
  font-size: 1.4rem;
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 35px;
  }
}

p,
li,
label {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 768px) {
  p,
  li,
  label {
    font-size: 1.4rem;
    line-height: 1.8;
  }
}

section {
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  section {
    padding: 4rem 0;
  }
}

main h1 {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  /* h2 {
    line-height: calc(40px + 25 * (100vw - 768px) / 432);
  } */
}

.services {
  margin: 3rem 0;
}

.count {
  margin: 2rem;
  display: block;
}

@media screen and (min-width: 768px) {
  .count {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .count {
    grid-template-columns: repeat(3, 1fr);
  }
}

.count li {
  margin-bottom: 1rem;
  list-style: none;
  font-weight: 400;
}

.count li img {
  margin: 2rem auto;
}

.section-img {
  max-width: 20rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 3rem;
}

.why-use-seo-section {
  background-color: #f5f6fa;
}

.faq-questions h3 {
  margin: 1rem 0;
}

.testimonial {
  font-weight: 400;
  border: 2px solid #f5f6fa;
  border-radius: 5px;
  padding: 3rem 4rem;
}

.testimonial .content {
  max-width: 800px;
  margin: 0 auto;
}

.author {
  margin: 2rem auto;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.author img {
  border: 6px solid #ff5200;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.author div p {
  margin-left: 0.6rem;
  font-size: 1rem;
  text-align: right;
  font-style: italic;
  text-align: center;
}

div p.author-name {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2rem;
  font-style: normal;
}

.icons {
  width: 100px;
  height: 100px;
  border: 4px solid #ff5200;
  border-radius: 100%;
  padding: 0.1rem;
}

hr {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80%;
  color: #f5f6fa;
  border: 3px solid #f5f6fa;
}

.highlight {
  color: #ff5200;
}

.front-page-blog-container {
  max-width: 500px;
  padding: 0 1rem;
}

.blog-posts {
  margin: 2rem 0;
}

.front-page-blog-container {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .front-page-blog-container {
    max-width: 1800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto;
  }
}

.blog-info a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
}

.blog-info h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .blog-info h2 {
    font-size: 1.6rem;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 2rem;
  font-size: 0.6rem;
}

th {
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
}

th,
td {
  text-align: left;
  padding: 5px 1rem;
}

tr p,
td p {
  font-size: 1rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.why-us-img {
  width: 10rem;
  height: 10rem;
  float: right;
  margin-left: 2rem;
}

.local-seo-img-icons {
  width: 90px;
  height: 90px;
  border: 3px solid #ff5200;
  border-radius: 100%;
  float: left;
  margin-right: 1rem;
}

.icon-group {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.icon-group p {
  margin: 0;
}

footer {
  background-color: black;
  max-width: 100%;
  margin-top: 4rem;
}

.local-section-work img {
  float: right;
  margin-left: 1.5rem;
  height: 10rem;
  width: 8rem;
}

@media screen and (min-width: 600px) {
  .local-section-work img {
    margin-left: 4rem;
    height: 20rem;
    width: 15rem;
  }
}

@media screen and (min-width: 768px) {
  .local-section-work img {
    margin-left: 4rem;
    height: 20rem;
    width: 15rem;
  }
}

.video-container {
  padding: 2rem 0;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  /* margin: 4rem 0; */
  margin-bottom: 2rem;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  max-width: 8rem;
}

@media screen and (min-width: 768px) {
  .cities {
    display: flex;
    justify-content: space-between;
  }
}

input[type='text'],
input[type='email'],
textarea {
  font-size: 16px;
}

.modal-video {
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-video-body {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.video-btn {
  cursor: pointer;
}

.about-img {
  margin: 2rem 0;
}

.not-happy-box {
  background-color: beige;
  padding: 2rem;
  border-radius: 10px;
}

.not-happy-box h4 {
  font-size: 1.5rem;
}
